@model List<Feature>

<section id="hero" class="hero section light-background">
    @foreach (var item in Model)
    {
        <img src="@item.ImageUrl" alt="">

        <div class="container" data-aos="zoom-out">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h2>@item.Name</h2>
                    <p>
                        Çalışma Alanlarım:
                        <span class="typed" data-typed-items="@item.Title1, @item.Title2, @item.Title3"></span>
                        <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
                    </p>
                    <div class="social-links">
                        @await Component.InvokeAsync("_DefaultSocialMediaComponentPartial")
                    </div>
                </div>
            </div>
        </div>
    }
</section><!-- /Hero Section -->